<template>
  <div class="container">
    <section class="section">
      <h1 class="title is-spaced">Tic-Tac-Toe</h1>
      <h2 v-if="!isGameOver" class="subtitle">Your move, {{ currentPlayer.name }}</h2>
      <h2 v-if="isGameOver" class="subtitle">Player {{ currentPlayer.name }} wins!</h2>
    </section>
    <section>
      <table class="board">
        <tr v-for="(row, rowIndex) in board" :key="rowIndex">
          <td v-for="(cell, cellIndex) in row" v-on:click="play(rowIndex, cellIndex)" :key="rowIndex*10+cellIndex">
            <div v-bind:class="[cell]">{{ cell }}</div>
          </td>
        </tr>
      </table>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data () {
      return {
        board: [
          ['', '', ''],
          ['', '', ''],
          ['', '', '']
        ],
        playerTurn: 0,
        players: [
          {
            name: 'Player 1',
            symbol: 'o',
          },
          {
            name: 'Player 2',
            symbol: 'x'
          }
        ],
        isGameOver: false,
      };
    },
    computed: {
      currentPlayer: function () {
        return this.players[this.playerTurn];
      }
    },
    methods: {
      play: function(rowIndex, cellIndex) {
        if (this.isGameOver) {
          return;
        }

        if (!this.isValidMove(rowIndex, cellIndex)) {
          return;
        }

        this.updateBoard(rowIndex, cellIndex);

        if (this.check4Win(rowIndex, cellIndex)) {
          this.isGameOver = true;
          return;
        }

        this.switchTurn();
      },
      isValidMove(rowIndex, cellIndex) {
        return this.board[rowIndex][cellIndex] === '';
      },
      updateBoard(rowIndex, cellIndex) {
        const newBoard = [ ...this.board ];
        newBoard[rowIndex][cellIndex] = this.currentPlayer.symbol;
        this.board = newBoard;
      },
      check4Win(rowIndex, cellIndex) {
        const winningSymbol = this.currentPlayer.symbol;
        return false;
      },
      switchTurn() {
        this.playerTurn = (this.playerTurn + 1) % 2;
      },
    }
  }
</script>

<style lang="css">
  body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #EEE;
  }
</style>

<style lang="scss" scoped>
  @import './app.scss'
</style>
